* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(73, 22, 205);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(44, 44, 103);
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.container h1,
li {
  margin-bottom: 10px;
  font-style: italic;
  list-style: none;
}
.form input {
  width: 100%;
  padding: 7px;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
}
.form input::placeholder {
  font-style: italic;
}
.form input:focus {
  border-color: rgb(98, 200, 200);
}
.form label {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.btn {
  background-color: rgb(8, 8, 49);
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: 1s ease;
}
.btn:hover {
  background-color: rgb(53, 53, 171);
}
.mensagem-erro {
  font-size: 14px;
  color: orange;
  margin-bottom: 10px;
  font-style: italic;
}
